.exp {
    display: flex; 
    gap: 2rem; 
    align-items: center;
}

.exp-img {
    min-width: 75px; 
    max-width: 75px; 
    min-height: 75px; 
    max-height: 75px; 
    overflow: hidden; 
    background-color: white; 
    border-radius: 50% !important;
}

.exp-desc {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.responsibilities-container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto;
}

.responsibilities {
    margin-top: 1rem;
    margin: 2rem;

}

.responsibilities > ul > li {
    padding-left: 1rem;
    list-style-type: disc;
    font-size: 1rem;
    line-height: 1.5rem;
}

.responsibilities > ul > li::marker {
    font-size: 20px;
    line-height: 1.5rem;
}

.linkedin-btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.education {
    position: relative;
    z-index: 99 !important;
}

.education-item {
    display: flex;
    gap: 2rem;
    margin: 2rem 0px;
}

.education-item--img {
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
    border-radius: 50% !important;
    overflow: hidden;
}

.education-item--desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .exp {
        flex-direction: column;
    }

    .exp-desc {
        flex-direction: column;
    }

    .exp-desc h3 {
        text-align: center;
    }

    .education-item {
        flex-direction: column;
        align-items: center;
    }

    .education-item--desc {
        flex-direction: column;
        text-align: center;
    }
}